* {
    margin:0;
}

html, body {
    height: 100%;
}

body {
    background-color: #FFFFF0;
    font-family: Tahoma;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    margin: 0.5em 0 0.5em 0;
}

h1 {
    color: #d3a920;
    font-family: Didot;
}

header {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

nav a:visited, 
nav a:link {
    color:#800020;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

h1 {
    text-align: center;
    background-color: #02075D;
    width: 100%;
}

h2 {
    color:#800020;

}

h3 {
    color:   #d3a920;

}

h4 {
    color:   #d3a920;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}


main {
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
}

table {
    border: solid 2px #02075D; 
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    width: 70%;
}


th, td {
    border: solid 1px  #02075D; 
    border-collapse: collapse;
}

th {
    color: #d3a920;
    background-color:   #02075D;
}

tr:hover {background: #d3a920}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100px;
}

.form-box {
    width: 100%
    ;
}

#submit {
    padding: 10px;
    background-color: #d3a920;
    border-radius: 10px;
    margin-left: 10px;

}

form {
    width: 65%;
    border: solid 2px  #02075D;
    border-radius: 10px;
    padding: 20px;
}

label {
    margin-left: 10px;
    width: 700px;
    display: inline-block;
    text-align: left;
}

.blank-row {
    height: 20px;
    background-color: #eee;
}
